/**
 * @Author: Zhai Yiming (root@derzh.com)
 * @Date:   2017-09-03 13:08:29
 * @Last Modified by:   Zhai Yiming
 * @Last Modified time: 2017-09-03 13:23:20
 */

.wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
