/**
 * @Author: Zhai Yiming (root@derzh.com)
 * @Date:   2017-09-03 10:58:52
 * @Last Modified by:   Zhai Yiming
 * @Last Modified time: 2017-09-03 11:26:41
 */

.login {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.el-alert {
  padding: 2px 16px;
}
