/**
 * @Author: Zhai Yiming (root@derzh.com)
 * @Date:   2017-08-23 12:57:02
 * @Last Modified by:   Zhai Yiming
 * @Last Modified time: 2017-09-03 16:05:09
 */
.query {
  display: flex;
  .textarea {
    margin: 10px 5px;
  }
  &-btn {
    flex: 1;
  }
  &-mismatch-alert {
    margin-bottom: 10px;
  }
}

.list {
  margin-top: 20px;
}

.submit {
  display: flex;
  margin: 5px 0 20px 0;
  &-btn {
    flex: 1;
  }
}
